<html>
<html>

<body>
   <h2>Hi  {{welcomeMessage}}</h2>
<form method="post" action="/toCity">
<input type="text" name="interest" placeholder="Please Enter your interest"></input>
<button type="submit" value="Sign-In">search</button>
</form>
landing Page
</body>

</html>